@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
*{
    /* border: solid; */
    font-family: 'Titillium Web', sans-serif;
   
   
}
*
{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    align-items:center ;
    justify-content: center; 
}
h2
{
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    display: flex;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
section
{
    padding-top: 0%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background: #1111;
    /* align-items: center; */
    overflow: hidden;

}
h2 span
{
    transition: 1.5s;
}
h2:hover span
{
    filter: blur(20px);
    opacity: 0;
    transform: scale(2);
}
.bgimg
{
    background-image: url(https://wallpapercave.com/wp/wp6526662.png);
    background-repeat: no-repeat;
    background-position:center;
    width: 100%;
    height: auto;
    /* border: solid; */
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    /* border: solid; */
    /* background-color: black; */ 
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
}
.bgblur
{
    background: rgba(185, 131, 131, 0.5);
    backdrop-filter: blur(15px);
    position: absolute;
    height: 100%;
    width: 100%;
    /* z-index: 1; */

    
}

.boxy
{
    padding-top: 10%;   
    padding-left: 22%;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
     display: flex;
    
}

p{
    background-color: rgb(190, 118, 119);
    box-shadow: 0px 30px 60px;
}
img{
    box-shadow: 0px 30px 60px; color: black;
}
ul {

    list-style-type: none;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    position: fixed;
    top: 0%;
    width: 100%;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
    
  }
  
  li a {
    float: right;
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: rgb(150, 61, 61);
    transition-duration: .5s;
    transform: scale(1.15);
 
  }
a:hover {
    transition-duration: .5s;
    transform: scale(1.2);
 
  } 
h2 span:nth-child(10n+1)
{
    transition-delay: 0s;
}
h2 span:nth-child(10n+2)
{
    transition-delay: 0.1s;
}
h2 span:nth-child(10n+3)
{
    transition-delay: 0.2s;
}
h2 span:nth-child(10n+4)
{
    transition-delay: 0.3s;
}
h2 span:nth-child(10n+5)
{
    transition-delay: 0.4s;
}